/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2014, 1:34:36 PM
    Author     : Administrator
*/


nav {
    text-align: left;
    border: 2px;
    float: right;
}

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -0px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 0px; 
}
.site-footer {
  background: white;
}
    // sticky footer code from: https://css-tricks.com/snippets/css/sticky-footer/

    /*
    #UploadBtn{
        position: relative;
        top: 50px;
        cursor: pointer;
        height: 220px;
        width: 320px;
        float: right;
        
        
        
        
    }
    
    #UploadBtn{
        
       background-image: url("http://i.imgur.com/VfnsvwW.png");
       //display: block;
       //background-repeat: repeat-x; 
       //height: 120px;
      // width: 220px;
       
        //TODO button rollover code 
    }
    
    #UploadBtn:hover{
        background-image: url("http://i.imgur.com/OV4TBhD.png");
        
    }
    */